<h1>Create</h1>

<h4>Publication</h4>
<div class="card" style="width: 18rem">
    <div class="card-body">
        <form asp-action="SavePublication">
            <div class="mb-3">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" aria-describedby="titleHelp" />
                <div id="titleHelp" class="form-text">Publication title</div>
            </div>
            <div class="mb-3">
                <label for="abstract">Abstract</label>
                <textarea class="form-control" id="abstract" aria-describedby="abstractHelp" rows="10"></textarea>
                <div id="abstractHelp" class="form-text">Publication abstract (maximum 10 rows)</div>
            </div>
            <div class="mb-3">
                <label for="keywords">Keywords</label>
                <input type="text" class="form-control" id="keywords" aria-describedby="keywordsHelp" />
                <div id="keywordsHelp" class="form-text">Keywords (comma separated)</div>
            </div>
            <div class="mb-3">
                <label for="authorName1">Main author</label>
                <input type="text" class="form-control" id="authorName1" name="AuthorNames[]" aria-describedby="authorName1Help" />
                <div id="authorName1Help" class="form-text">Main author's first and last name</div>
            </div>
            <div class="mb-3">
                <label for="authorName2">Co-author</label>
                <input type="text" class="form-control" id="authorName2" name="AuthorNames[]" aria-describedby="authorName2Help" />
                <div id="authorName2Help" class="form-text">Co-author's first and last name (leave blank if no co-author exists)</div>
            </div>
            <div class="mb-3">
                <label for="authorName3">Co-author</label>
                <input type="text" class="form-control" id="authorName3" name="AuthorNames[]" aria-describedby="authorName3Help" />
                <div id="authorName3Help" class="form-text">Co-author's first and last name (leave blank if no co-author exists)</div>
            </div>
            <div class="mb-3">
                <label for="authorName4">Co-author</label>
                <input type="text" class="form-control" id="authorName4" name="AuthorNames[]" aria-describedby="authorName4Help" />
                <div id="authorName4Help" class="form-text">Co-author's first and last name (leave blank if no co-author exists)</div>
            </div>
            <div class="mb-3">
                <label for="authorName5">Co-author</label>
                <input type="text" class="form-control" id="authorName5" name="AuthorNames[]" aria-describedby="authorName5Help" />
                <div id="authorName5Help" class="form-text">Co-author's first and last name (leave blank if no co-author exists)</div>
            </div>
            <input type="submit" value="Save" class="btn btn-primary" />
        </form>
    </div>
</div>
