@using Pmf.PublicationTracker.Presentation.Api.Internal.ViewModels;
@model List<PublicationViewModel>

<a asp-action="Create">Create new publication</a>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Details</th>
            <th scope="col">Authors</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (publication, i) in Model.Select((publication, i) => (publication, i + 1)))
        {
            <tr>
                <th scope="row">@i</th>
                <td>@publication.Title</td>
                <td>
                    <a asp-controller="Publication" asp-action="Details" asp-route-id=@publication.Id class="btn btn-primary">
                        Details
                    </a>
                </td>
                <td>
                    @publication.AuthorNames
                </td>
                <td>
                    <a asp-controller="Publication" asp-action="Delete" asp-route-id=@publication.Id>
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
