@using Pmf.PublicationTracker.Presentation.Api.Internal.ViewModels;
@model List<AuthorViewModel>

<ul>
    @foreach(var author in Model)
    {
        <li>
            @author.FirstName
        </li>
    }
</ul>